{% load static %}
<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>BT Real Estate {% block title %} {% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/all.css' %}">
    <!-- Font Awesome -->

    <!-- Bootstrap -->
    <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
    <!-- Custom -->
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="{% static 'css/lightbox.min.css' %}">
  </head>
  <body>
    <body>
      <!-- Top Bar -->
      {% include 'partials/_topbar.html' %}

      <!-- Navbar -->
      {% include 'partials/_navbar.html' %}
    {% block content %}
    {% include 'partials/_footer.html' %}
    {% endblock %}
    <script src="{% static 'js/jquery-3.3.1.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
    <script src="{% static 'js/main.js' %}"></script>
    <script src="{% static 'js/ligntbox.min.js' %}"></script>

  </body>
</html>
